<!-- this html block is brought to you by our prof thomas's github! woohoo!-->

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thought For Food{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Welcome to Thought For Food</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('barcode') }}">ScanBarcode</a></li>
                        <!-- maybe: set up profile here? page tbd -->
                        <li><a href="{{ url_for('profile_form') }}">SetUpProfile</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
